<div id="content" class="flex">
    <div class="">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><strong>Change Password</strong></div>
                            <div class="card-body">
                                <div *ngIf="success" class="alert alert-success" role="alert" role="alert">
                                    <strong>{{message}}</strong>
                                </div>
                                <div *ngIf="error" class="alert alert-danger" role="alert" role="alert">
                                    <strong>{{message}}</strong>
                                </div>
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                    <div class="form-group">
                                        <label class="text-muted" for="oldPwd"><b>Old Password</b></label>
                                        <input type="password" class="form-control" id="oldPwd" formControlName="oldPwd" placeholder="old password">
                                        <div *ngIf="form.get('oldPwd').touched && form.get('oldPwd').invalid" style="color: red;">
                                            <div *ngIf="form.get('oldPwd').errors.required">Old password is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-muted" for="newPwd"><b>New Password</b></label>
                                        <input type="password" class="form-control" id="newPwd" formControlName="newPwd" placeholder="new password">
                                        <div *ngIf="form.get('newPwd').touched && form.get('newPwd').invalid" style="color: red;">
                                            <div *ngIf="form.get('newPwd').errors.required">New password is required</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-muted" for="cpwd"><b>Re-enter Password</b></label>
                                        <input type="password" class="form-control" id="cpwd" formControlName="cpwd" placeholder="re-enter Password">
                                        <div *ngIf="form.get('cpwd').touched && form.get('cpwd').invalid" style="color: red;">
                                            <div *ngIf="form.get('cpwd').errors.required">Confirm password is required</div>
                                            <div *ngIf="form.get('cpwd').hasError('mismatch')">Confirm Password do not match.</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                    </div> <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
                                    <button class="btn btn-light" type="reset">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>